.header {
  display: flex;
  width: 100%;
  background-color: $secondary-color;
  align-content: center;
  justify-content: center;
}

.page-title {
  font-size: 5rem;
  padding: 2.25rem;
  color: $primary-color;
}
