#header {
  grid-area: date;
}

.temp-current {
  grid-area: temp;
  font-size: 2.25rem;
  font-weight: bold;
  justify-self: right;
}

.icon {
  grid-area: icon;
  justify-self: center;
  align-self: center;
}

.weather-descriptor {
  grid-area: descriptor;
  padding: 0.75rem;
  font-size: 1.4rem;
  text-align: center;
}

.temperature-range {
  grid-area: temp-range;
  font-size: 1.3rem;
  font-weight: bold;
  justify-self: center;
}

.wind {
  grid-area: wind;
  font-size: 1.15rem;
  text-align: center;
}

.blue {
  background-color: rgb(114, 177, 250);
}

.current-day {
  border: 1px solid rgb(71, 69, 69);
}
