@mixin font-color {
  color: $font-color-1;
}

#header {
  @include font-color();
  grid-area: date;
}

.temp-current {
  @include font-color();
  grid-area: temp;
  font-size: 2.25rem;
  font-weight: bold;
  justify-self: right;
}

.icon {
  @include font-color();
  grid-area: icon;
  justify-self: center;
  align-self: center;
}

.weather-descriptor {
  @include font-color();
  grid-area: descriptor;
  padding: 0.75rem;
  font-size: 1.4rem;
  text-align: center;
}

.temperature-range {
  @include font-color();

  grid-area: temp-range;
  font-size: 1.3rem;
  font-weight: bold;
  justify-self: center;
}

.wind {
  @include font-color();

  grid-area: wind;
  font-size: 1.15rem;
  text-align: center;
}

.day-background {
  @include font-color();
  background-color: $complimentary-primary-color;
  opacity: 0;
}

.current-day {
  // border: 1px solid rgb(71, 69, 69);
}
