.weather {
  display: none;
  width: 90%;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  // padding: 2rem;
  flex-wrap: wrap;

  .day-background {
    @include font-color();
    display: grid;
    grid-template-areas: "date date temp" ". icon ." "descriptor descriptor descriptor" "temp-range temp-range temp-range" " . wind .";
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 80px 100px 100px 60px 60px;
    min-height: 400px;
    max-height: 400px;
    margin: 0.5rem;
    padding: 1.25rem;
    border-right: 3px solid $secondary-color;
    background-color: $complimentary-primary-color;
    opacity: 0;
    transform: translateY(1000px);
  }
}
