.input {
  border: 1px solid $font-color-1;
  background: $primary-color;
  color: $font-color-1;
  font-size: 1.35rem;
  padding: 1rem;
  min-width: 700px;
  min-height: 2rem;
  border-radius: 6px;
  text-align: center;
}
