.autocomplete {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.autocomplete-items-bordered {
  border: 1px solid $font-color-1;
}

.autocomplete-items {
  position: absolute;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 10;
  top: 62.5%;
  left: 0;
  right: 0;

  div {
    padding: 10px;
    cursor: pointer;
    color: $font-color-1;
    background: $primary-color;
    padding: 1.75rem;
    transition: transform 0.25s ease-in;

    &:hover {
      transition: transform 0.25s ease-out;
      border-left: 1px solid $font-color-1;
      border-right: 1px solid $font-color-1;
      transform: scale(1.1);
      color: $font-color-1;
    }
  }
}
